In [10]:
import pandas as pd
import pickle

In [6]:
df_doc = pd.read_csv('/mnt/c/users/cornelia/documents/AI/MasterThesis/IRDebias/data/bios/new_bios.tsv', sep="\t")
df_doc.groupby(['raw_title','gender']).count()

                                 Unnamed: 0  raw  bio  counter_bio
raw_title                gender
accountant               F               50   50   50           50
                         M               50   50   50           50
architect                F               50   50   50           50
                         M               50   50   50           50
assistant professor      F               50   50   50           50
                         M               50   50   50           50
associate professor      F               50   50   50           50
                         M               50   50   50           50
attorney                 F               50   50   50           50
                         M               50   50   50           50
dentist                  F               50   50   50           50
                         M               50   50   50           50
dietitian                F               50   50   50           50
                         M               50   50   50           50
interior designer        F               50   50   50           50
                         M               50   50   50           50
journalist               F               50   50   50           50
                         M               50   50   50           50
model                    F               50   50   50           50
                         M               50   50   50           50
nurse                    F               50   50   50           50
                         M               50   50   50           50
nutritionist             F               50   50   50           50
                         M               50   50   50           50
painter                  F               50   50   50           50
                         M               50   50   50           50
paralegal                F               50   50   50           50
                         M               50   50   50           50
personal trainer         F               50   50   50           50
                         M               50   50   50           50
photographer             F               50   50   50           50
                         M               50   50   50           50
physician                F               50   50   50           50
                         M               50   50   50           50
psychologist             F               50   50   50           50
                         M               50   50   50           50
psychotherapist          F               50   50   50           50
                         M               50   50   50           50
senior software engineer F               50   50   50           50
                         M               50   50   50           50
software engineer        F               50   50   50           50
                         M               50   50   50           50
surgeon                  F               50   50   50           50
                         M               50   50   50           50
teacher                  F               50   50   50           50
                         M               50   50   50           50
yoga instructor          F               50   50   50           50
                         M               50   50   50           50

In [12]:
with open( '/mnt/c/Users/Cornelia/Documents/AI/MasterThesis/IRDebias/data/bios/train.pkl', 'rb') as file:
    dicts = pickle.load(file)
uk_jobs_train = pd.DataFrame(dicts)

In [13]:
uk_jobs_train

,title,description
0,dentist,We’re looking for an to work with us at our w...
1,psychologist,Pulse is currently recruiting for a patient a...
2,software engineer,Sharp are looking for a Software Engineer/App...
3,dentist,"Associate Dentist Jobs in Bridgwater, Somerset..."
4,dentist,We’re looking for an Associate Dentist to wor...
...,...,...
1454,dentist,Associate Dentist Jobs in Gloucestershire. IND...
1455,senior software engineer,Senior Software Engineer | Fully Remote | £55...
1456,software engineer,Job Title: Software Developer Permanent ...
1457,dentist,"Associate Dentist – Stalybridge, Manchester ..."
1458,teacher,"Are you an inspiring, engaging teacher?Are you..."